# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider (если используете JetBrains)
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Files built by Visual Studio
*.dbmdl
*.bak
*.backup
*.ldf
*.mdf

# Publish
publish/
out/
wwwroot/

# Others
*.DS_Store
*.Thumbs.db

# Windows
desktop.ini
